body {
    padding-left: 2em;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    color: #222222;
    background-color: #fff;
}

.container {
    display: table-cell;
    vertical-align:middle;
    height: 500px;
    padding: 10px;
    border: 0px solid black;
    text-align: center;
}

.container > div {
    display: block;
    vertical-align:middle;
    padding: 10px;
    border: 0px solid black;
    text-align: center;
}

.tooltip {
    position: absolute;
    padding: 0.5em;
    margin: 0.5em;
    background-color: #000000AA;
    color: white;
    border: 1px;
    border-radius: 2px;
    opacity: 0;
    pointer-events: none;
}