body {
    padding-left: 2em;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    color: #222222;
    background-color: #fff;

    margin-top: 4em;
    margin-bottom: 10em;
}

.container {
    display: table-cell;
    vertical-align:middle;
    height: 500px;
    padding: 10px;
    border: 0 solid black;
    text-align: center;
    /*
    border-radius: 1em;
    background-color: #ddd;
     */
}

.container > div {
    display: block;
    vertical-align:middle;
    padding: 0;
    margin: 0;
    border: 0 solid black;
    text-align: center;
}

.tooltip {
    position: absolute;
    padding: 0.5em;
    margin: 0.5em;
    background-color: #000000AA;
    color: white;
    border: 1px;
    border-radius: 0.25em;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
}

#tooltipTitle {

}

#tooltipText {
    font-size: 0.75em;
    margin-bottom: 1em;
}

.barText {
    text-anchor: end;
    /*font-weight: bold;*/
}

.barLabel {
    text-anchor: middle;
    vertical-align: bottom;

    /* Source: https://css-tricks.com/methods-contrasting-text-backgrounds/ */
    /*filter: invert(1) grayscale(1) contrast(9) blur(5px);*/
    /*filter: invert(1);*/
    /*fill: white;*/

    fill: black;
    /*mix-blend-mode: difference;*/
}

#tooltip svg text {
    fill: white
}

#top_bar {
    display: flex;
    /*margin: 1em 0.5em 1em 0.5em;*/

    position: fixed;
    padding: 1em 0 1em 0;
    background-color: #444;
    left: 0;
    top: 0;
    width: 100%;
}

#top_bar > * {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#DODdiv {
    display: block;
    width: 100%;
    text-anchor: middle;

    background-color: #eee;
    border-radius: 1em;
}

#DODdiv > div {
    text-align: center;
    margin: 0.5em;
}

#DODdiv button {
    float: right;
    cursor: pointer;
    background-color: #ccc;
    border: 2px solid #ccc;
    border-radius: 0.5em;
    font-family: monospace;
    font-weight: bold;
    padding: 0 0.5em 0 0.5em;
}

#DODdiv button:hover {
    background-color: #0002;
    border: 2px solid black;
    padding: 0 0.5em 0 0.5em;
}

#parallel_coordinates_div {
    text-align: center;
    font-size: 2em;
}

.parallelSvg .tick text {
    font-size: 1.5em;
}

.parallelPath {

}

.parallelAxisLabel {
    font-size: 2em;
}